[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=PC연결 케이블 시작
Comment=Be sure to connect the serial cable and run it.
Path=/home/pi/blockcoding/kt_ai_makers_kit_block_coding_driver/blockDriver
Exec=sh /home/pi/blockcoding/kt_ai_makers_kit_block_coding_driver/blockDriver/serial.sh
Icon=/home/pi/blockcoding/kt_ai_makers_kit_block_coding_driver/blockDriver/etc/connectpc.ico
Terminal=true
Name[ko_KR]=PC연결 케이블 시작
X-KeepTerminal=true
Comment[ko_KR]=시리얼 케이블 연결하고 시작하세요
