[Unit]
Description=aimk daemon mgr
After=network-online.target
 
[Service]
ExecStart=/home/pi/.aicodingblock/bin/aimk-daemon-mgr.sh
 
[Install]
WantedBy=multi-user.target
